html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.main_container{
    display:flex;
    height: 100%;
}
.menu{
    display:flex;
    flex : 1;
}
.rout_out-container{
    flex : 1;
    
}
.rout_out{
    flex: 1;
}